/* color palette from <https://github.com/vuejs/theme> */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.bg-custom {
    min-height: 100vh;
    margin: 0;
    background: rgb(25, 25, 25);  /* Tailwind gray-950 */
    color: #e5e7eb;
  }
}