@import './base.css';
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,"Apple Color Emoji",Segoe UI Symbol;
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-200;
}

.font-handwritten {
    font-family: "Caveat", "M PLUS Rounded 1c", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.font-georgia {
    font-family: Georgia, "Times New Roman", Times, serif;
}
